html {
  width:100%;
  height:100%;
}
body{
  width:100%;
  background-image: url('../img/sedeBBVA.png');
  background-repeat: repeat;
  background-size: 100%;
}
#tittle-texto {
    width: 100%;
    text-align: center;
    align-items: center;
    color: white;
}
#cover-texto {
    width: 100%;
    text-align: center;
    align-items: center;
    color: #004481;
}
#mensaje-texto {
    width: 100%;
    text-align: center;
    align-items: center;
    color: #004481;
}
#table-texto {
    width: 100%;
    text-align: center;
    align-items: center;
    color: #F38415;
}
#table2-texto {
    width: 100%;
    text-align: center;
    align-items: center;
    color: #5FC108;
}
#cover-user .form-inline{

  height: 100%;
  text-align: center;
  align-items: center;
}
#map {
  height: 30%;
  width: 30%;
  text-align: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
